@charset "utf-8";
/* Reset css*/
body,h1,h2,h3,h4,h5,h6,div,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
body{font-size: 12px;}
img{border: none;}
li{list-style: none;}
input,select,textarea{outline: none;border: none;background: none;}/*background: none;针对IE6*/
textarea{resize: none;}
a{text-decoration: none; color: #656565;}

/*清除浮动*/
.clearfix:after{content: "";display: block;clear: both;}
.clearfix{zoom:1;}

.fl{float: left;}
.fr{float: right;}